<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <script type="text/javascript" src="{{url_for('static',filename='js/mainJs.js')}}"></script>
</head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Health Insurance Details</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('AddIndividuals') }}">Add Individuals</a></li>
            <li><a href="{{ url_for('AddEvents') }}">Add Events</a></li>
            <li><a href="{{ url_for('AllIndividuals') }}">List All Individuals</a></li>
            <li><a href="{{ url_for('AllEvents') }}">List All Events</a></li>
            <li><a href="{{ url_for('EventPerUser') }}">Events Per User</a></li>
            <li><a href="{{ url_for('AverageAge') }}">Average Age</a></li>
            <li><a href="{{ url_for('TotalCoveredAmount') }}">Total Covered Amount</a></li>
            <li><a href="{{ url_for('ClaimsPerYear') }}">Claims Per Year</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    
{% block content %}
{% endblock %}

 </body>
</html>
